* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: #213743;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0F212E;
  padding: 10px;
  border-radius: 10px;
  max-width: 740px;
  margin: auto;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(33, 55, 67);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(31, 255, 32);
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.btn-container {
  text-align: center;
  padding-top: 20px;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 5px;
  padding: 10px;
  width: 100%;
  background-color: #0F212E;
}

.container button {
  background-color: #2F4553;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.box {
  aspect-ratio: 1;
  width: 100%;
}

.box:hover {
  background-color: #557085;
  transform: scale(1.1);
}

.finish-score {
  color: rgb(0, 231, 1);
  font-size: 1rem;
  background: rgb(26, 44, 56);
  border-radius: 0.5rem;
  text-align: center;
  position: absolute;
  font-weight: 800;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 100%;
  min-width: 150px;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.87, -0.41, 0.19, 1.44);
  border: 3px solid rgb(0, 231, 1);
  box-shadow: rgb(0 0 0 / 20%) 0px 10px 15px -3px, rgb(0 0 0 / 10%) 0px 4px 6px -2px;
  display: none;
}

.finish-score .center {
  text-align: center;
  width: 100%;
  padding: 1em;
  display: block;
}

.mineNumberSetting {
  display: flex;
  color: #ccc;
  flex-direction: column;
  text-align: left;
  margin-bottom: 15px;
  font-size: 18px;
  width: 100%;
}

.mineNumberText {
  margin-bottom: 15px;
}

#mineNumber {
  display: flex;
  width: 100%;
  height: 30px;
  flex: 1;
  background: #0F212E;
  color: white;
}

@media (min-width: 600px) {
  .wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .settings, .btn-container {
    width: auto;
  }

  .container {
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    max-width: 500px;
  }
}
